<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>常见问题</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="stylesheet" href="{$public_url}/Css/questions.css">
	<script src="{$public_url}/Js/questions.js"></script>
	<script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
	<script src="{$public_url}/layui/layui/layui.js"></script>
	<link rel="stylesheet" href="{$public_url}/layui/layui/css/layui.css" />

	<style>
		.layui-colla-title {
			font-size: 0.26rem;
		}

		.layui-show {
			font-size: 0.16rem;
		}

		.layui-colla-content p {
			font-size: 0.22rem;
		}
	</style>
</head>

<body>
	<div class="title">
		
	</div>

	<fieldset class="layui-elem-field layui-field-title" style="margin-top: 10px;">
		<legend>常见问题</legend>
	</fieldset>
	<div class="layui-collapse" lay-accordion="">
		<div class="layui-colla-item">
			<h2 class="layui-colla-title">关于eSIM卡</h2>
			<div class="layui-colla-content  ">

				<div class="layui-collapse" lay-accordion="">
					<div class="layui-colla-item">
						<h2 class="layui-colla-title">eSIM卡资费标准是怎样的？ </h2>
						<div class="layui-colla-content  ">
							<p> eSIM单卡业务资费当前包含两个手表套餐，具体如下：<br> 1 10元专属套餐 月租10元，包含500MB全国，60分钟全国语音,短信5条，超出主叫：0.1元/分钟，被叫免费,流量超出：0.1元/mb,短彩信：0.1元/条.首月激活免费体验。
								<br>2 20元专属套餐 月租20元，1GB全国，100分钟全国语音,短信5条，超出主叫：0.1元/分钟，被叫免费,流量超出：0.1元/mb,短彩信：0.1元/条。首月激活免费体验 套外费用均为0.1元/分钟、MB、条。 国际及港澳台漫游功能参照移网预付费OCS用户规则，需要预存一定的费用才能开通。
							</p>
						</div>
					</div>
					<div class="layui-colla-item">
						<h2 class="layui-colla-title">呼叫转移如何办理，费用多少？</h2>
						<div class="layui-colla-content">
							<p>答：和手机标准一样。</p>
						</div>
					</div>
					<div class="layui-colla-item">
						<h2 class="layui-colla-title">如何充值话费、查询话费？</h2>
						<div class="layui-colla-content">
							<p>答：可通过中国联通网上营业厅，手机营业厅，实体营业厅或拨打客服热线10010查询话费余额、流量余额，并充值话费。</p>
						</div>
					</div>
					<div class="layui-colla-item">
						<h2 class="layui-colla-title">长时间不使用的费用、停机保号等问题</h2>
						<div class="layui-colla-content">
							<p>答：长时间不使用收取套餐费，没有额外费用。可以停机保号。销号会导致整个手表失去3G通讯功能，我们不建议销号。中国联通为您提供了多种办理紧急业务的方法，您可登录网上营业厅，也可通过客服热线办理停开机业务。</p>
						</div>
					</div>
					<div class="layui-colla-item">
						<h2 class="layui-colla-title">有靓号吗？</h2>
						<div class="layui-colla-content">
							<p>答：没有靓号。但您可以根据自己的喜好在选号购卡时设置筛选条件，找到属于您的号码。</p>
						</div>
					</div>
					<div class="layui-colla-item">
						<h2 class="layui-colla-title">号码归属地在哪里？</h2>
						<div class="layui-colla-content">
							<p>答：第一批开放的号码归属地为上海城市，更多城市正在陆续开通。另外，我们在积极尝试根据用户所在城市配置当地号码的解决方案，敬请期待。</p>
						</div>
					</div>
					<div class="layui-colla-item">
						<h2 class="layui-colla-title">号码如何购买，付费支持那种支付方式</h2>
						<div class="layui-colla-content">
							<p>答：居住地在上海的用户可以在营业厅办理业务开通以及联通手机营业厅进行业务办理。</p>
						</div>
					</div>
					<div class="layui-colla-item">
						<h2 class="layui-colla-title">服务密码有什么用，忘记密码怎么办？</h2>
						<div class="layui-colla-content">
							<p>答：服务密码是为了保障用户数据安全而设置的6位数字密码，仅在拨打客服热线办理或查询部分业务时使用。初始服务密码为您的手机号码后6位。为了更好的保证您的信息及财产安全，请及时通过中国联通网上营业厅修改您的服务密码。</p>
						</div>
					</div>
					<div class="layui-colla-item">
						<h2 class="layui-colla-title">开通通讯服务需要多少钱？</h2>
						<div class="layui-colla-content">
							<p>答：我们已经将eSIM卡内置于智能手表中，因此不需要您再额外付费购买电话卡。但如果需要开通通信服务，则需要向运营商缴纳通信服务费。具体的资费标准，包括套餐标准资费及套餐包等信息，请查看网站。</p>
						</div>
					</div>
					<div class="layui-colla-item">
						<h2 class="layui-colla-title">如何进入号码注册选号激活页面？</h2>
						<div class="layui-colla-content">
							<p>答：方法一. 居住地在上海的用户，可前往联通营业厅进行办理；<br>方法二.通过手表APP，按照引导操作，并通过手厅扫码功能进入办理页面</p>
						</div>
					</div>
					<div class="layui-colla-item">
						<h2 class="layui-colla-title">收到手表后，何时可以开始激活号码？</h2>
						<div class="layui-colla-content">
							<p>答：收到手表后随时可以按照提示完成激活。</p>
						</div>
					</div>
					<div class="layui-colla-item">
						<h2 class="layui-colla-title">可以不使用eSIM智能手表的通信功能吗？</h2>
						<div class="layui-colla-content">
							<p>答：可以，关闭通信功能即可。</p>
						</div>
					</div>
					<div class="layui-colla-item">
						<h2 class="layui-colla-title">激活过程遇到等待时间过长怎么办？</h2>
						<div class="layui-colla-content">
							<p>答：激活过程可能会遇到正在激活中，或“您的激活申请已提交，请耐心等待”的提示。如果时间超过10分钟，有问题可以致电客服热线4000210356咨询。</p>
						</div>
					</div>
					<div class="layui-colla-item">
						<h2 class="layui-colla-title">手表激活通信功能后可以退货吗？</h2>
						<div class="layui-colla-content">
							<p>答：eSIM智能手表是特殊商品，通信功能激活后需完成号码销户或提交预约销户后，方可退货。线下渠道购买的手表，用户需要退货请先联系手表厂商的客服，且销户是必要步骤。</p>
						</div>
					</div>
					<div class="layui-colla-item">
						<h2 class="layui-colla-title">激活后通信功能不可用怎么办？</h2>
						<div class="layui-colla-content">
							<p>答：请检查是否完成了网上注册激活缴费流程，并收到确认短信，以及尝试重启手表。确认无上述问题，激活后电话功能仍然不可用，请致电手表厂商的客服，将为您妥善处理。</p>
						</div>
					</div>
					<div class="layui-colla-item">
						<h2 class="layui-colla-title">有哪些渠道能开通通讯服务？</h2>
						<div class="layui-colla-content">
							<p>答：目前通讯服务仅在中国联通手机营业厅和上海联通营业厅办理，暂无其他办理渠道网点，其他渠道均非中国联通或智能手表厂商官方经营或授权。为避免您的财产损失，请勿在非官方渠道开通通讯服务。</p>
						</div>
					</div>
					<div class="layui-colla-item">
						<h2 class="layui-colla-title">手表遗失、损坏、故障，该怎么办？</h2>
						<div class="layui-colla-content">
							<p>答：（1）手表遗失或被窃：我们表示遗憾，但您可以通过中国联通网上营业厅或拨打客服热线及时办理停机，如果您已购买新的手表，并通过网上营业厅申请补换卡，来保留您已经激活开通的号码。（2）手表损坏或故障：请联系手表厂商客服，来进行故障检定及维修。</p>
						</div>
					</div>
					<div class="layui-colla-item">
						<h2 class="layui-colla-title">我上传的资料，如何保证信息安全？</h2>
						<div class="layui-colla-content">
							<p>答：可通过中国联通网上营业厅，手机营业厅，实体营业厅或拨打客服热线10010查询话费余额、流量余额，并充值话费。</p>
						</div>
					</div>
					<div class="layui-colla-item">
						<h2 class="layui-colla-title">人脸检测时注意什么？</h2>
						<div class="layui-colla-content">
							<p>答：1、请在网络较好的环境中进行激活。 2、确保光线明亮、面部无遮挡。 3、请将面部完整地放在屏幕中的框内，不要超出边界。 4、根据页面提示，完成相应动作。</p>
						</div>
					</div>
					<div class="layui-colla-item">
						<h2 class="layui-colla-title">上传身份证照片时注意什么？</h2>
						<div class="layui-colla-content">
							<p>答：可通过中国联通网上营业厅，手机营业厅，实体营业厅或拨打客服热线10010查询话费余额、流量余额，并充值话费。</p>
						</div>
					</div>
					<div class="layui-colla-item">
						<h2 class="layui-colla-title">身份证、视频上传不通过怎么办？</h2>
						<div class="layui-colla-content">
							<p>答：从2015年9月1日起,答：1、需要上传身份证正面、反面2张图。 2、请确保图片清晰（证件底纹、字体、照片清晰）无模糊，无白光点等。 3、上传的照片须为彩色图片。 4、证件图片格式为bmp、jpg、jpeg。照片大小不得超过2M。</p>
						</div>
					</div>
					<div class="layui-colla-item">
						<h2 class="layui-colla-title">eSIM可以分享热点吗？</h2>
						<div class="layui-colla-content">
							<p>答：eSIM套餐本身开通了数据流量功能，具备分享热点的条件，但需要手表等终端设备可以支持分享热点的功能。</p>
						</div>
					</div>
					<div class="layui-colla-item">
						<h2 class="layui-colla-title">哪些地区可以使用eSIM？</h2>
						<div class="layui-colla-content">
							<p>答：eSIM可以在中国大陆地区（不包含港澳台）使用。如需要在中国大陆地区以外使用数据流量，需要开通国际漫游并购买对应国家的流量套餐。</p>
						</div>
					</div>
				</div>

			</div>
		</div>
		<div class="layui-collapse" lay-accordion="">
			<div class="layui-colla-item">
				<h2 class="layui-colla-title">开户购买</h2>
				<div class="layui-colla-content  ">

					<div class="layui-collapse" lay-accordion="">
						<div class="layui-colla-item">
							<h2 class="layui-colla-title">如何开通购买eSIM服务？</h2>
							<div class="layui-colla-content  ">
								<p> 答：用户可以通过支持联通eSIM的智能终端引导至手机营业厅办理eSIM业务的开通，上海地区用户也可以携带智能终端至上海联通营业厅门店办理。 当前支持智能终端：出门问问 ticwatch 智能手表和华为Watch 2 PRO。</p>
							</div>
						</div>
						<div class="layui-colla-item">
							<h2 class="layui-colla-title">购买eSIM的预存款是什么？</h2>
							<div class="layui-colla-content">
								<p>答：eSIM套餐开通无需预存款，激活后首月还可以免费体验</p>
							</div>
						</div>
						<div class="layui-colla-item">
							<h2 class="layui-colla-title">什么证件可以办理实名制入网？</h2>
							<div class="layui-colla-content">
								<p>答：目前暂只接受身份证办理，暂不支持其他证件（护照、驾照、港澳通行证、户口簿等）。</p>
							</div>
						</div>
						<div class="layui-colla-item">
							<h2 class="layui-colla-title">每个人最多能办理多少eSIM号？</h2>
							<div class="layui-colla-content">
								<p>答：每个身份证最多可办理5个联通号码，包括eSIM号。</p>
							</div>
						</div>
						<div class="layui-colla-item">
							<h2 class="layui-colla-title">哪些情况会造成实名认证不通过？ </h2>
							<div class="layui-colla-content">
								<p>答：以下情况会造成身份审核不通过：<br> 身份证照片或手持身份证照片与填写的身份证号码非同一个人；
									<br> 身份证照片与手持身份证照片中持证人非同一人；
									<br> 身份证拍照不清晰、磨损或有遮挡；
									<br> 手持身份证照片中的持证人面部存在遮挡；
									<br> 身份证照片或手持身份证照片存在人为修改痕迹；
									<br> 缺少其中一张照片；
									<br> 身份证持有者年龄不满16周岁。
									<br> 上传视频不符合规则；
									<br> 缺少上述任意一条内容；
									<br> 上传其他不符合要求的图片/视频。
								</p>
							</div>
						</div>
						<div class="layui-colla-item">
							<h2 class="layui-colla-title">eSIM的流量和普通手机卡流量有何区别</h2>
							<div class="layui-colla-content">
								<p>答：eSIM的流量和普通手机卡流量上网稳定性、速度是一样的。</p>
							</div>
						</div>

					</div>

				</div>
			</div>
			<div class="layui-collapse" lay-accordion="">
				<div class="layui-colla-item">
					<h2 class="layui-colla-title">业务详情</h2>
					<div class="layui-colla-content  ">

						<div class="layui-collapse" lay-accordion="">
							<div class="layui-colla-item">
								<h2 class="layui-colla-title">如何咨询客服，在线客服服务时间？</h2>
								<div class="layui-colla-content  ">
									<p> 答：请拨打客服热线4000210356，报出您的eSIM号码，核实身份后将为您解决问题。 工作时间：9：00-21：00。非人工服务时间，如有问题可在微信公众号“联通eSIM智能穿戴设备”中查看使用指南。
									</p>
								</div>
							</div>
							<div class="layui-colla-item">
								<h2 class="layui-colla-title">eSIM有套餐外流量吗？</h2>
								<div class="layui-colla-content">
									<p>答：eSIM套餐外流量按照0.1元/MB进行计费，按照双封顶规则来执行停止数据功能。</p>
								</div>
							</div>
							<div class="layui-colla-item">
								<h2 class="layui-colla-title">流量加油包有效期是多久？</h2>
								<div class="layui-colla-content">
									<p>答：暂不支持流量加油包。</p>
								</div>
							</div>
							<div class="layui-colla-item">
								<h2 class="layui-colla-title">欠费停机，上月结余流量还能使用吗？</h2>
								<div class="layui-colla-content">
									<p>答：欠费立即停机，充值开机后可继续。当月未使用完的流量参加次月结转。</p>
								</div>
							</div>
							<div class="layui-colla-item">
								<h2 class="layui-colla-title">可以销户退款吗？</h2>
								<div class="layui-colla-content">
									<p>答：用户可以在手机营业厅申请预约销户，进行身份认证后，3个月销户成功，但不能退款。上海用户也可以至上海联通营业厅网点办理销户。销户退款仅退还未消费余额，已订购支付的费用不予退还。退款后将停止服务。退款不退现金，只能转到本人其它联通帐户。</p>
								</div>
							</div>
							<div class="layui-colla-item">
								<h2 class="layui-colla-title">如何关闭/开启eSIM？</h2>
								<div class="layui-colla-content">
									<p>答：您可以在智能硬件的eSIM设置或通讯设置选项中关闭/开启。 关闭期间，将不能使用eSIM服务，重新开启后可恢复正常使用。关闭期间流量有效期不会延长，流量也不会被消耗。
									</p>
								</div>
							</div>
							<div class="layui-colla-item">
								<h2 class="layui-colla-title">可以更换流量套餐吗？ </h2>
								<div class="layui-colla-content">
									<p>答：目前针对eSIM专属套餐10元和20元之间可以更换，手厅用户可采用办理eSIM开卡流程中的更换套餐流程操作，上海用户也可至上海联通营业厅网点办理套餐更换。</p>
								</div>
							</div>
							<div class="layui-colla-item">
								<h2 class="layui-colla-title">手表丢失，可以找回eSIM号吗？</h2>
								<div class="layui-colla-content">
									<p>答：可以支持。</p>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>

<!--新加的问题-->
				<div class="layui-collapse" lay-accordion="">
				<div class="layui-colla-item">
					<h2 class="layui-colla-title"> HUAWEI WATCH 2Pro</h2>
					<div class="layui-colla-content  ">

						<div class="layui-collapse" lay-accordion="">
							<div class="layui-colla-item">
								<h2 class="layui-colla-title">手表的eSIM功能是什么？</h2>
								<div class="layui-colla-content  ">
									<p> 答：eSIM业务是以eSIM（Embedded-SIM）卡代替实体SIM卡的移动终端通讯解决方案。用户可以从联通的服务器下载eSIM帐号，从而使用蜂窝网络业务。
手表的支持联通的eSIM业务，手表内置了eSIM智能芯片，您自助开卡后，手表即可支持4G/3G/2G移动通信业务。
									</p>
								</div>
							</div>
							<div class="layui-colla-item">
								<h2 class="layui-colla-title">手机卡不是联通的，能否开通联通的eSIM</h2>
								<div class="layui-colla-content">
									<p>答：手表支持开通联通的独立号码，不依赖于您手机的号码的联通。无论您手机使用移动还是电信的号码，都可以为手表单独开通一个联通的手表号码。</p>
								</div>
							</div>
							<div class="layui-colla-item">
								<h2 class="layui-colla-title">手表是否支持和手机共用一个号码？</h2>
								<div class="layui-colla-content">
									<p>答：当前不支持，当前仅支持手表开通一个与手机不同的独立号码。
后续是否支持手表和手机共用一个号码，取决于联通的网络部署情况。</p>
								</div>
							</div>
							<div class="layui-colla-item">
								<h2 class="layui-colla-title">手表的eSIM号码不想用了，如何销号？</h2>
								<div class="layui-colla-content">
									<p>答：eSIM帐号销号需要联系联通，无法在手表上完成销号。您可按以下步骤进行操作：
1.请致电联通，对您的号码进行销号。<br>
2.在手表主屏幕下单击电源键，选择SIM管理，点击您想停止使用的号码，点击删除。<br>
在手表的SIM管理中删除号码并不代表您解除了与联通的合约关系，联通仍会继续计费。手表上删除号码后无法恢复，需要联系联通重新开户（是否可以保留原来的号码依赖联通的支持情况）。
在手表的SIM管理中关闭激活号码仅是将eSIM帐号在手表关闭，联通仍会继续计费。手表上关闭激活号码后，可以重新激活继续使用该号码。</p>
								</div>
							</div>
							<div class="layui-colla-item">
								<h2 class="layui-colla-title">手表开通eSIM时如何查询EID?</h2>
								<div class="layui-colla-content">
									<p>答：您可以通过两种方式查询您手表的EID：<br>
方式一：如果手表包装盒还在，您可以在包装盒上的标签查看EID。<br>
方式二：在手表主屏幕下单击电源键，选择SIM管理 > 关于，可以查看手表的EID。</p>
								</div>
							</div>
							<div class="layui-colla-item">
								<h2 class="layui-colla-title">eSIM与手表的4G有什么区别？</h2>
								<div class="layui-colla-content">
									<p>答：手表/保时捷设计的eSIM功能与HUAWEI WATCH 2 4G版相比，不支持插实体卡，但支持开通eSIM功能，配合联通的eSIM新业务同样可以实现4G/3G/2G移动通信。
									</p>
								</div>
							</div>
							<div class="layui-colla-item">
								<h2 class="layui-colla-title">手表的eSIM开通后无法注册网络？ </h2>
								<div class="layui-colla-content">
									<p>答：请按以下步骤排查：<br>
1.请确保手表的移动网络选项开启，或者选项为自动但蓝牙连接已断开。移动网络状态查看方法: 在手表主屏幕下单击电源键，选择设置 > 网络连接 > 移动网络 > 移动网络。<br>
2.请确保手表飞行模式已关闭。<br>
3.请确保eSIM帐号是激活状态。检查方法: 在手表主屏幕下单击电源键，选择 SIM管理，在帐号列表中找到目标帐号，帐号名称的颜色如果是蓝色代表帐号已激活，灰色代表未激活。<br>
4.请确保手表没有进入省电模式。手表电量低于15%会自动进入省电模式，点击手表省电模式提示卡片可退出省电模式。<br>
5.请确保手表当前所处环境网络信号正常，可通过查看手机信号确认当前网络环境，如果网络信号较弱，建议您在网络环境良好的地方，查看手表是否能够注册网络。<br>
6.请联系联通确认您的eSIM帐号业务已正常开通。</p>
								</div>
							</div>
							<div class="layui-colla-item">
								<h2 class="layui-colla-title">手表开通eSIM后如何变更号码</h2>
								<div class="layui-colla-content">
									<p>答：若您想变更电话号码，请先联系联通将老号码进行销号，然后重新开通eSIM功能，具体情况请咨询联通。</p>
								</div>
							</div>
								<div class="layui-colla-item">
								<h2 class="layui-colla-title"> 手表开通eSIM无法获取EID信息</h2>
								<div class="layui-colla-content">
									<p>答：若手表开启了飞行模式或关闭了无线网络，会导致无法读取eSIM智能芯片信息，EID信息为空。<br>
请按以下步骤解决：<br>
1.关闭手表飞行模式。<br>
在手表主屏幕下单击电源键，选择设置 > 网络连接 > 飞行模式，关闭飞行模式。<br>
2.打开手表移动网络。<br>
在手表主屏幕下单击电源键，选择设置 > 网络连接 > 移动网络 > 移动网络，开启移动网络。</p>
								</div>
							</div>
								<div class="layui-colla-item">
								<h2 class="layui-colla-title">如何查看手表中的eSIM帐号</h2>
								<div class="layui-colla-content">
									<p>答：开通eSIM服务后，您可在手表中查看帐号信息：<br>
1.在手表主屏幕下单击电源键，选择SIM管理，即可查看您的eSIM帐号。<br>
2.点击帐号，可查看帐号详情。</p>
								</div>
							</div>
								<div class="layui-colla-item">
								<h2 class="layui-colla-title">如何激活手表中的eSIM帐号</h2>
								<div class="layui-colla-content">
									<p>答：eSIM帐号只有在激活状态下，才可以使用蜂窝移动网络。请注意以下几点：<br>
手表首次开通下载的eSIM帐号，系统会自动激活，无需您操作。
新增eSIM帐号时，系统不会自动激活，如果您要使用新帐号的移动网络服务，需要手动将该帐号激活。
手表仅能保持一个帐号激活，激活新帐号时，系统自动将原激活帐号关闭激活。<br>
您可通过以下方法手动激活帐号：<br>
在手表主屏幕下单击电源键，选择SIM管理，在帐号列表中选择您需要激活的帐号，在帐号详情界面点击激活即可。</p>
								</div>
							</div>
								<div class="layui-colla-item">
								<h2 class="layui-colla-title">如何关闭激活手表中的eSIM帐号</h2>
								<div class="layui-colla-content">
									<p>答：如果您不想使用eSIM帐号或需要更换另外一个eSIM帐号，可将其关闭激活。请注意以下几点：<br>
关闭激活帐号后，您将无法使用此帐号进行通讯；但此帐号并不会中断或终止月租费。
关闭激活帐号后，如需再次使用该帐号，请先激活。
手表仅能保持一个帐号激活，激活新帐号时，系统自动将原激活帐号关闭激活，这样可减少您多次操作。<br>
您可通过以下方法关闭激活帐号：<br>s
在手表主屏幕下单击电源键，选择设SIM管理，在帐号列表中选择您需要关闭激活的帐号，在帐号详情界面选择关闭激活即可。</p>
								</div>
							</div>
								<div class="layui-colla-item">
								<h2 class="layui-colla-title">如何删除手表的eSIM帐号</h2>
								<div class="layui-colla-content">
									<p>答：如果您确认不再使用某个eSIM帐号，可将其删除，删除后该帐号将不会在帐号列表中显示。请注意以下几点：<br>
在手表上删除帐号，并不代表您解除了与联通的合约关系，联通仍会继续计费，如需销号请您联系联通。
删除帐号后，您将无法使用此帐号进行通讯，且无法恢复，需要联系联通重新开户（是否可以保留原来的号码依赖联通的支持情况）。
若您只有一个帐号，删除后，如需再次使用eSIM功能，需要重新开通eSIM功能。</p>
								</div>
							</div>
								<div class="layui-colla-item">
								<h2 class="layui-colla-title">手表开卡提示无法识别二维码</h2>
								<div class="layui-colla-content">
									<p>答：如果开通扫码时提示“无法识别当前二维码，请重新扫描”，请确认您扫描的二维码是联通提供给您的，并重新扫描。如果仍然无法解决，请联系您的联通。</p>
								</div>
							</div>
								<div class="layui-colla-item">
								<h2 class="layui-colla-title">手表开卡提示蓝牙未连接</h2>
								<div class="layui-colla-content">
									<p>答：无论是在线下营业厅，还是通过线上联通手机营业厅app开通eSIM功能，开通前请确保手表与Android wear中国版app配对成功，并且和华为穿戴app蓝牙连接正常。</p>
								</div>
							</div>
								<div class="layui-colla-item">
								<h2 class="layui-colla-title">开卡时提示eSIM帐号信息获取失败</h2>
								<div class="layui-colla-content">
									<p>答：如果开通过程中手机未连接网络，会导致无法获取帐号信息。华为穿戴app会提示“eSIM帐号信息获取失败，请确保网络畅通后重试”，手表会提示“网络异常，无法下载eSIM帐号信息”。
请检查并设置手机网络，待手机网络连接正常后重试。</p>
								</div>
							</div>
								<div class="layui-colla-item">
								<h2 class="layui-colla-title">开卡时手表上提示存储空间不足</h2>
								<div class="layui-colla-content">
									<p>答：如果开通过程中手表提示存储空间不足，是因为手表eSIM智能芯片内存不足导致帐号下载安装失败，请您删除不使用的帐号后重新尝试开通。</p>
								</div>
							</div>
								<div class="layui-colla-item">
								<h2 class="layui-colla-title">开卡时app提示尝试次数已达上限</h2>
								<div class="layui-colla-content">
									<p>答：如果联通提供给您的eSIM帐号有确认码，在华为穿戴app上扫码开通eSIM时您需要输入正确的确认码，如果连续输入次数超过联通系统限制，将无法正常开通，请联系联通重新办理。</p>
								</div>
							</div>
								<div class="layui-colla-item">
								<h2 class="layui-colla-title">无信号和移动网络关闭</h2>
								<div class="layui-colla-content">
									<p>答：无信号和移动网络关闭时，主表盘状态栏均无信号显示，从手表进入 设置 > 网络连接。</p>
								</div>
							</div>
								<div class="layui-colla-item">
								<h2 class="layui-colla-title">eSIM帐号激活过程等待时间过长</h2>
								<div class="layui-colla-content">
									<p>答：激活过程可能会遇到正在激活中，或“您的激活申请已提交，请耐心等待”的提示。</p>
								</div>
							</div>
							
							
						</div>

					</div>
				</div>
			</div>
</body>
<script>
	layui.use(['element', 'layer'], function () {
		var element = layui.element;
		var layer = layui.layer;

		//监听折叠
		element.on('collapse(test)', function (data) {
			layer.msg('展开状态：' + data.show);
		});
	});

</script>

</html>