<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body onload="load()">
        <form action="{:U('Purchase/test','',true,true)}" method="post" id="form">
                <input type="hidden" name="serviceId" value="22" />
                <input type="hidden" name="data" value="33" />
                <input type ='text' name='flag' value ='flag'/>
        </form>        
        <script>
            function load(){
                document.getElementById('form').submit();
            }
        </script>
    </body>      
</html>
